@import "tailwindcss";

:root {
  --panel: #ffffff;
}

* {
  box-sizing: border-box;
}
.clip-path-chart {
  clip-path: polygon(
    0% 100%,
    0% 80%,
    15% 78%,
    30% 75%,
    45% 70%,
    60% 60%,
    75% 50%,
    90% 35%,
    100% 20%,
    100% 100%
  );
}